 @font-face {
	font-family: Inter;
	src: url('Inter.otf') format('truetype');
}

body {
	background-color: #121212;
	font-family: Inter, Arial, sans-serif;
}
.reply {
	background-color: #323232;
	border-radius: 20px;
	margin: 2px;
	flex-grow: 1;
	width: calc(100% - 4px);
}

.message-left-top {
	background-color: #3b3b3b;
	border-radius: 20px 20px 20px 5px;
	align-items: flex-start;
	margin-bottom: 3px;
}
.message-left-middle {
	background-color: #3b3b3b;
	border-radius: 5px 20px 20px 5px;
	align-items: flex-start;
	margin-bottom: 3px;
}
.message-left-bottom {
	background-color: #3b3b3b;
	border-radius: 5px 20px 20px 20px;
	align-items: flex-start;
	margin-bottom: 15px;
}
.message-right-top {
	background-color: #c55978;
	align-self: flex-end;
	border-radius: 20px 20px 5px 20px;
	margin-bottom: 3px;
}
.message-right-middle {
	background-color: #c55978;
	align-self: flex-end;
	border-radius: 20px 5px 5px 20px;
	margin-bottom: 3px;
}
.message-right-bottom {
	background-color: #c55978;
	align-self: flex-end;
	border-radius: 20px 5px 20px 20px;
	margin-bottom: 15px;
}
.message-left-standalone {
	background-color: #3b3b3b;
	border-radius: 20px 20px 20px 20px;
	align-items: flex-start;
	margin-bottom: 15px;
}
.message-right-standalone {
	background-color: #c55978;
	align-self: flex-end;
	border-radius: 20px 20px 20px 20px;
	background-color: #c55978;
	margin-bottom: 15px;
}

.message {
	font-size: 14px;
	margin-left: 7px;
	margin-right: 7px;
	position: relative;
	display: inline-block;
	color: white;
	max-width: 85vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.message-text {
	font-size: 14px;
	color: white;
	max-width: 85vw;
	display: flex;
	padding : 9px;
	justify-content: space-between;
	flex-grow: 1;
}
.message-content {
	overflow-wrap: break-word;
	max-width: 99%
}
.time {
	font-size: 10px;
	margin-top: auto;
	padding-bottom: -10px;
	flex-shrink: 0;
	text-align: right;
	vertical-align: text-bottom;
	width: 35px;
}
.message-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}
.dater {
	font-size: 12px;
	color: #cccccc;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 15px;
}
img {
	border-radius: 20px;
	max-width: 500px;
	max-height: 500px;
}
